<ion-modal-view >
    <ion-header-bar>
        <h1 class="title">Adicionar Projeto</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="fecharModalProjeto()">Fechar</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="addProjeto(titulo)">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label"> Titulo:</span>
                    <input type="text" placeholder="Titulo do Projeto"  ng-model="titulo" required onfocus>
                </label>

                <label class="item">
                    <button class="button button-block button-positive" type="submit"> Cadastrar</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
