<ion-view  view-title="Projetos" ng-init="init()" >
    <ion-content >
        <section class="row" ng-show="projetos.length === 0">
            <button class="button button-full button-balanced" ng-click="abrirModalProjeto()">
                <i class="icon-left ion-plus"></i> Adicionar Projeto
            </button>
        </section>

        <ion-list ng-show="projetos.length > 0">
            <section class="row" >
                <button class="button button-full button-balanced" ng-click="abrirModalProjeto()">
                    <i class="icon-left ion-plus"></i> Adicionar Projeto
                </button>
            </section>
            <ion-item ng-repeat="projeto in projetos" >
                    <a class="item item-icon-right"  ng-click="removeProjeto(projeto)">
                        {{projeto.title}}
                        <i class="icon ion-close-circled"></i>
                    </a>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
